html{
    font-size: 62.5%;
    box-sizing: border-box; /*box model*/
    
}
*, *::before, *::after { /*boxmodel del de google para regular las imagenes de los px q sean los q quiero*/
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to top, #d6f0dd 0%, rgb(0, 70, 75) 90%);
    background-attachment: fixed;
    background-size: cover;
    
}

.nav-bg {
    background-color: rgb(127, 193, 255);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .nav a {
      color: rgb(3, 42, 58);
      text-decoration: none;
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem;
  }
  
  .nav a:hover {
      background-color: rgb(142, 105, 245);
      color: rgb(255, 255, 255);
  }

  @media (max-width: 768px) {
    .nav {
        flex-direction: column;
        text-align: center;
    }
  
    .nav a {
        display: block;
    }
  }
  .mar {
    margin-top: 100px;
  }

  .formulario {
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    background-color: #b3b3b4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 248, 248, 0.1);
  }
  .input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    }
  button{

    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
    background-color: cyan;
    border-radius: 0.5rem;
    
   
  
  }
  button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
  
  }
  .pie {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
   background-color: black;
   color: aliceblue;
  }
   .nombre {
    flex: 1;
    text-align: left;
  }
  
  .ciudad {
    flex: 1;
    text-align: right;
  }
  
  .telefono {
    flex: 1;
    text-align: right;
  }

  .spacio {
    margin-top: 200px;
  }